@import "param";

.advantages {
  margin-bottom: 22rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__info-block {
    width: 53rem;
  }

  &__sub-title {
    margin-bottom: 0.6rem;
    font-family: $def1-8;
    font-weight: 250;
    font-size: 1.8rem;
  }

  &__title {
    margin-bottom: 5rem;
    font-weight: bold;
    font-size: 5.6rem;
    letter-spacing: 0.04em;

    &--min {
      font-family: $def3-6;
      font-weight: 600;
      font-size: 2.6rem;
    }

    > span {
      display: block;
    }
  }

  &__box {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:nth-child(3n + 1) {
      .advantages__icon {
        background-color: $blue;
      }
    }

    &:nth-child(3n + 2) {
      .advantages__icon {
        background-color: $yellow;
      }
    }

    &:nth-child(3n) {
      .advantages__icon {
        background-color: $red;
      }
    }
  }

  &__icon {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    margin-right: 3.5rem;
    border-radius: 100%;

    > img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__text-block {
  }

  &__box-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2.2rem;
  }

  &__text {
    font-size: 1.6rem;
    letter-spacing: 0.035em;
  }

  &__img-box {
    width: 63.4rem;
    height: 45rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 48em) {
  .advantages {
    margin-bottom: 30rem;

    &__container {
      display: block;
    }

    &__info-block {
      width: 100%;
      margin-bottom: 6rem;
    }

    &__sub-title {
      margin-bottom: 0.8rem;
      font-size: 2.6rem;
      letter-spacing: 0.02em;
    }

    &__title {
      margin-bottom: 8rem;
      font-size: 4.8rem;

      &--min {
        font-size: 3.2rem;
      }
    }

    &__box {
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }

    &__icon {
      width: 10rem;
      height: 10rem;
      margin-right: 5rem;

      > img {
        width: 3.4rem;
        height: 3.4rem;
      }
    }

    &__text-block {
    }

    &__box-title {
      margin-bottom: 1.6rem;
      font-size: 3.6rem;
    }

    &__text {
      font-size: 2.8rem;
    }

    &__img-box {
      width: calc(100% + 2rem);
      height: 50rem;
      margin: 0 -1rem;
    }
  }
}