@import "param";

.banner {
  position: relative;
  min-height: 84.1rem;
  margin-bottom: 22rem;

  &--yandex {
    min-height: 82.8rem;

    .banner__container {
      padding-top: 20rem;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    padding-top: 24rem;
  }

  &__text-block {
    position: relative;
    width: fit-content;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 115%;
      height: 100%;
      transform: translateX(-15%);
      background-color: #000;
      filter: blur(12rem);
    }
  }
}

@media (max-width: 48em) {
  .banner {
    min-height: auto;
    margin-bottom: 30rem;

    &--yandex {
      .banner__container {
        padding-top: 6rem;
      }
    }

    &__bg {
      position: static;
      height: 60rem;
    }

    &__container {
      padding-top: 6rem;
    }

    &__text-block {
      position: relative;
      width: fit-content;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 115%;
        height: 100%;
        transform: translateX(-15%);
        background-color: #000;
        filter: blur(12rem);
      }
    }
  }
}