@import "param";

.blog {
  margin-bottom: 22rem;

  &__category {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem 10rem -2rem;
  }

  &__category-btn {
    min-width: 17rem;
    margin: 0 2rem 2rem 2rem;
    padding: 0.8rem 3rem;
    border-radius: 100rem;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.035em;
    text-align: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.06);
    }

    &.active {
      border: 1px solid $red;
      background-color: $red;
    }
  }

  &__content {
    margin-bottom: 8rem;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10rem;
    }
  }

  &__more {
    margin: 0 auto;
  }
}

@media (max-width: 48em) {
  .blog {
    margin-bottom: 30rem;

    &__category {
      flex-wrap: nowrap;
      margin: 0 -3rem 0 -3rem;
      padding-left: 3rem;
      padding-bottom: 5rem;
      overflow-x: scroll;
    }

    &__category-btn {
      min-width: auto;
      margin: 0 3rem 0 0;
      padding: 1.2rem 4rem;
      font-size: 2.8rem;
      letter-spacing: 0;
    }

    &__content {
    }

    &__box {
      &:not(:last-child) {
        margin-bottom: 9rem;
      }

      &--min {
        flex-wrap: nowrap;
        margin: 0 -3rem;
        padding-left: 3rem;
        overflow-x: scroll;
      }
    }

    &__more {
    }
  }
}