@import "param";

.intro {
  margin-bottom: 22rem;
  margin-top: 10rem;

  &--services {
    .intro__bg {
      right: 4rem;
      width: 60rem;
      height: 51.2rem;
    }
  }

  &__container {
    position: relative;
  }

  &__bg {
    position: absolute;
    right: -6.3rem;
    top: 50%;
    z-index: -1;
    width: 119.1rem;
    height: 87.4rem;
    transform: translateY(-50%);

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    width: 52rem;
  }

  &__logo {
    display: block;
    width: 50rem;
    height: 15rem;
    margin-bottom: 1rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__sub-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.115em;
  }

  &__title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 5.6rem;
    line-height: 6.8rem;
    letter-spacing: 0.01em;
  }

  &__text {
    margin-bottom: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.035em;
  }

  &__list {
    margin-bottom: 4.5rem;
  }

  &__list-item {
    margin-left: 1.6rem;
    list-style-type: disc;
    font-size: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 1.8rem;
    }
  }
}

@media (max-width: 48em) {
  .intro {
    min-height: auto;
    margin-bottom: 30rem;
    margin-top: 2rem;

    &--services {
      .intro__bg {
        width: 100%;
        height: 60rem;
        margin: 0;

        > img {
          object-fit: contain;
          object-position: center;
        }
      }
    }

    &__container {
    }

    &__bg {
      position: static;
      width: calc(100% + 6rem);
      height: 72.4rem;
      margin: 0 -3rem;
      transform: translateY(0);

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }

    &__content {
      width: 100%;
      margin-bottom: 6rem;
    }

    &__logo {
      width: 47rem;
      height: 14rem;
      margin-bottom: 2.6rem;
    }

    &__sub-title {
      font-size: 2.4rem;
    }

    &__title {
      margin-bottom: 4rem;
      font-size: 6rem;
      line-height: 7.3rem;
    }

    &__text {
      margin-bottom: 6rem;
      font-size: 2.8rem;
    }

    &__list {
      margin-bottom: 6rem;
    }

    &__list-item {
      margin-left: 2.8rem;
      font-size: 2.8rem;

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
  }
}