@import "param";

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__content {
    display: none;
    position: relative;
    width: fit-content;
    max-width: 90%;
    max-height: 90%;
    border-radius: 2rem;
    border: 3px solid #FFFFFF;
    background: linear-gradient(0deg, rgba(12, 11, 11, 0.95), rgba(12, 11, 11, 0.95)), rgba(255, 255, 255, 0.9);
  }

  &__close {
    position: absolute;
    right: 4.5rem;
    top: 3.6rem;
    width: 4rem;
    height: 4rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      transform: rotate(45deg);
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      transform: rotate(-45deg);
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.modal-contacts {
  &__content {
    align-items: center;
    justify-content: space-between;
    padding: 13.5rem;
  }

  &__info-block {
    flex: none;
    width: fit-content;
    max-width: 100%;
  }

  &__title {
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 5.4rem;
    letter-spacing: 0.04em;

    &--min {
      font-family: $def3-6;
      font-weight: 600;
      font-size: 2.2rem;
      text-transform: uppercase;
    }

    > span {
      display: block;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 3.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.035em;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    margin-right: 3.5rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__form {
    display: flex;
    margin-top: 5rem;
  }

  &__label {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0 13rem 0 3rem;
    margin: 1px -6rem 1px 0;
    border-radius: 1.2rem;
    border: 1px solid #FFFFFF;
  }

  &__input {
    width: 20rem;
    font-size: 1.6rem;
    letter-spacing: 0.2em;
  }

  &__btn {
    flex: none;
    padding: 1.3rem 3rem;
    border-radius: 1.1rem;
    font-size: 1.6rem;
  }

  &__img-box {
    width: 32.6rem;
    height: 24.8rem;
    margin-left: 2.5rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.modal-indicators {
  &__content {
    display: none;
    padding: 12vh 7vw 7vh 7vw;
  }

  &__slider {
    width: auto;
    margin-bottom: 4rem;

    .swiper-wrapper {
      align-items: center;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img-box {
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      max-height: 63vh;
      object-fit: contain;
    }
  }

  &__slide-name {
    display: none;
  }

  &__navigation-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  &__name {
    font-size: 1.6rem;
    letter-spacing: 0.04em;
  }

  &__arrows {
    flex: none;
    display: flex;
    align-items: center;

    > svg {
      width: 3.7rem;
      height: 1.6rem;
      cursor: pointer;

      path {
        fill: white;
      }

      &:first-child {
        margin-right: 3.5rem;
      }
    }
  }
}

@media (max-width: 48em) {
  .modal {
    padding: 0 3rem;

    &__bg {
    }

    &__content {
      width: 100%;
      max-width: 100%;
      max-height: 80%;
      border-radius: 4rem;
      border: 1px solid #FFFFFF;
    }

    &__close {
      right: 4rem;
      top: 4rem;
      width: 6rem;
      height: 6rem;
    }
  }

  .modal-contacts {
    padding: 0 3rem;

    &__bg {
    }

    &__content {
      flex-direction: column;
      align-items: normal;
      justify-content: normal;
      padding: 8rem 4rem;
    }

    &__close {
      right: 4rem;
      top: 4rem;
      width: 6rem;
      height: 6rem;
    }

    &__info-block {
      width: 100%;
    }

    &__title {
      margin-bottom: 6rem;
      font-size: 4.8rem;

      &--min {
        font-size: 2.6rem;
      }
    }

    &__link {
      margin-bottom: 5rem;
      font-size: 2.8rem;
    }

    &__icon {
      width: 6rem;
      height: 6rem;
      margin-right: 4rem;
    }

    &__form {
      margin-top: 6rem;
    }

    &__label {
      width: 100%;
      padding: 2rem 0 2rem 2rem;
      margin: 1px -23rem 1px 0;
      border-radius: 2.4rem;
    }

    &__input {
      width: 35rem;
      font-size: 2.8rem;
      letter-spacing: 0.2em;
    }

    &__btn {
      flex: none;
      padding: 1.8rem 3.4rem;
      border-radius: 1.4rem;
      font-size: 3.2rem;
    }

    &__img-box {
      width: 100%;
      height: 46rem;
      margin-left: 0;
      margin-top: 8rem;
    }
  }

  .modal-indicators {
    &__content {
      padding: 15rem 5rem 7rem 5rem;
    }

    &__slider {
      width: 100%;
      margin-bottom: 5rem;
    }

    &__slide {
    }

    &__img-box {
    }

    &__slide-name {
      display: none;
    }

    &__navigation-block {
    }

    &__name {
      font-size: 2.8rem;
    }

    &__arrows {
      > svg {
        width: 5.4rem;
        height: 2.8rem;

        &:first-child {
          margin-right: 5rem;
        }
      }
    }
  }
}