// $peremenaya: znachenie;

// @mixin name {
//  css here
// }

$def-color: #fff;
$light-gray: #F5F5F7;
$red: #EB2C00;
$yellow: #FFB300;
$blue: #0235F2;
$green: #00FFE0;

$def4-7: 'Proxima Nova Rg';
$def3-6: 'Proxima Nova Lt';
$def1-8: 'Proxima Nova Th';
$mons: 'Montserrat';